@model Ficha4.Models.UnidadeMonetaria

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Unidade Monetária</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="UnidadesMonetarias" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @*Por defeito é colocado o id no route data. Ver link gerado na tag form*@
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPorEuro" class="control-label"></label>
                <input asp-for="ValorPorEuro" class="form-control" />
                <span asp-validation-for="ValorPorEuro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="UnidadesMonetarias" asp-action="Index">Unidades Monetárias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
