@model Ex3.Models.UnidadeCurricular;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index do HomeController</title>
</head>
<body>

    <ul>
        <li>Nome: @Model.Nome</li>
        <li>ECTS: @Model.ECTS</li>
        <li>Curso: @Model.Curso</li>
        <li>Semestre: @Model.Semestre</li>
    </ul>

</body>
</html>
