<!DOCTYPE html>
<html>
<head>
    <title>Home Index</title>
</head>
<body>

    <ul>
        <li>Nome: PWEB </li>
        <li>ECTS: 6 </li>
        <li>Curso: Eng Inf.</li>
        <li>Semestre: 5 </li>  
    </ul>

</body>
</html>
