<!DOCTYPE html>
<html>
<head>
    <title>Home Index</title>
</head>
<body>

    <ul>
        <li>Nome: @ViewBag.Nome </li>
        <li>ECTS: @ViewBag.ECTS </li>
        <li>Curso: @ViewBag.Curso</li>
        <li>Semestre: @ViewBag.Semestre</li>
    </ul>

</body>
</html>
